/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffecd2; /* Light peach background color */
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to right, #ffecd2, #fcb69f); /* Gradient background */
}

h2 {
  font-size: 2em;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.submit-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #fcb69f;
  color: white;
  cursor: pointer;
  font-size: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.submit-button:hover {
  background-color: #fc8461;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  width: 80%;
}

@media (max-width: 600px) {
  .recipes {
    flex-direction: column;
    align-items: center;
  }
}
